<!DOCTYPE html>
<html>
<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

<% include ../../partials/nav.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/db.css" />

<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="lang-logo">
            <img src="/lang-logo.png">
        </a>
        <h1>DB</h1>
        <% modal_id = 'modal-backup' %>
        <button type="button" id="backup_btn" class="btn btn-lg btn-primary"
                data-toggle="modal"
                data-target="#<%= modal_id %>">
            <span class="glyphicon glyphicon-download"></span>バックアップ
        </button>
        <% url = '/admin/db/backup' %>
        <% title = 'バックアップしますか？' %>
        <% explain = ''%>
        <% method = 'get'%>
        <% include ../../partials/modal/comfirm.ejs %>
        <% modal_id = 'modal-restore' %>
        <button type="button" id="restore_btn" class="btn btn-lg btn-primary"
                data-toggle="modal"
                data-target="#<%= modal_id %>">
            <span class="glyphicon glyphicon-download"></span>レストア
        </button>
        <% include ../../partials/modal/restore.ejs %>

        <% modal_id = 'modal-reset' %>
        <button type="button" id="backup_btn" class="btn btn-lg btn-primary"
                data-toggle="modal"
                data-target="#<%= modal_id %>">
            <span class="glyphicon glyphicon-download"></span>リセット
        </button>
        <% url = '/admin/db/reset' %>
        <% title = 'リセットしますか？' %>
        <% explain = ''%>
        <% method = 'get'%>
        <% include ../../partials/modal/comfirm.ejs %>

        <% modal_id = 'modal-csv' %>
        <button type="button" id="csv_btn" class="btn btn-lg btn-primary"
                data-toggle="modal"
                data-target="#<%= modal_id %>">
            <span class="glyphicon glyphicon-download"></span>CSV
        </button>
        <% include ../../partials/modal/csv.ejs %>
        <% modal_id = 'modal-zip' %>
        <button type="button" id="backup_btn" class="btn btn-lg btn-primary"
                data-toggle="modal"
                data-target="#<%= modal_id %>">
            <span class="glyphicon glyphicon-download"></span>画像ZIPに書出
        </button>
        <% url = '/admin/db/image_to_zip' %>
        <% title = 'ZIPに書き出しますか？' %>
        <% explain = ''%>
        <% method = 'get'%>
        <% include ../../partials/modal/comfirm.ejs %>
        <a class="btn btn-lg btn-primary" href="/img/users.zip" download="">
            <span class="glyphicon glyphicon-download"></span>ユーザー画像ダウンロード
        </a>
    </div>
</div>

</body>
</html>
